/* Remove nitro features by NebulaBC (removenitrocss@nebulabc.net) */

[aria-label="Add Super Reaction"] {
  display: none;
}

[aria-label="Send a gift"] {
  display: none;
}

[aria-label*="super reactions, press to super react"] {
  pointer-events: none;
}

[aria-label="super reaction tooltip upsell"] {
  display: none;
}

[aria-label="This server has unlocked all Boosting perks!"] {
  display: none;
}

[class*='shinyButton'] {
 display: none;
}

[class*='animation-2Ulm63'] {
 display: none;
}

[class*='contentPremium-'] {
 display: none;
}

.burstGlow-3AZMzF {
  display: none;
}

#message-actions-add-reaction-1 {
  display: none;
}

[href="/store"] {
  display: none;
}

[class*='link__2e8e1'] {
  display: none;
}

.colorPremiumGradient-38tGFG {
  display: none;
}

#guild-header-popout-premium-subscribe {
  display: none;
}

[Name="Get Super Reactions"] {
  display: none;
}

.notice-2HEN-u {
  display: none;
}

[data-list-item-id="private-channels-uid_22___activities"] {
  display: none;
}

[class*='shyButton__30111'] {
 display: none;
}

/*Nitro button in Home */
[data-list-item-id="private-channels-uid_18___nitro"] {
  display: none;
}

[data-list-item-id="private-channels-uid_18___shop"] {
  display: none;
}

/* Settings Panel Hide Nitro */
div.separator_d14fb1:nth-child(11){
  display:none;
}
div.header__71a82:nth-child(12){
  display:none;
}
.premiumTab_ad0913 {
  display:none;
}
div.item__48dda:nth-child(14) {
  display: none;
}
div.item__48dda:nth-child(15){
  display:none;
}
div.item__48dda:nth-child(16){
  display: none;
}
div.item__48dda:nth-child(17){
  display: none;
}
div.item__48dda:nth-child(34){
  display:none;
}

/* Profile settings ad */
.container__686c4{
  display:none;
}
.premiumFeatureBorder__6ac04{
  display:none;
}